@media only screen and (max-width: 992px) {
  .navbar-nav {
    gap: 10px !important;
  }
  .nav-item img {
    display: none;
  }
}

/* For Mobile */
@media only screen and (max-width: 480px) {
  .inputEnvClass {
    margin-top: 0px !important;
    font-size: 12px;
  }

  .nav-item {
    font-size: 18px;
  }
  .slideshowDot {
    scale: 0.5;
    margin-top: 0px !important;
  }
  .cardTitle,
  .priceLable {
    font-size: 24px !important;
  }
  .cardTitle {
    margin-top: 10px !important;
  }
  .offerDiv {
    font-size: 14px !important;
    text-align: center;
  }
  .wedInvoffer {
    font-size: 18px !important;
  }

  .priceTag {
    font-size: 16px !important;
    text-align: center !important;
  }
  .personTextHeader,
  .itiPrice {
    font-size: 16px !important;
  }

  .priceTag span,
  .itiPrice span {
    font-size: 14px !important;
    text-align: center !important;
  }
  .priceTagData {
    font-size: 14px !important;
    text-align: left !important;
    font-weight: 400 !important;
  }

  .cart {
    margin: 0 !important;
  }
  .cartDiv {
    align-items: center !important;
    margin: 8px 6px !important;
    gap: 0px !important;
    justify-content: space-around !important;
  }
  .cartBtn {
    width: 100%;
    font-size: 14px !important;
    padding: 4px 7px !important;
  }
  .cartContent {
    font-size: 14px !important;
    text-align: justify;
  }

  /* Money envlope*/
  .accDiv {
    margin-top: -3px !important;
  }
  .addOn {
    font-size: 18px !important;
    font-weight: 600;
  }
  .accordion-button {
    padding: 6px 15px;
  }
  .qtyTitle {
    font-size: 18px !important;
    font-weight: 600;
    margin-right: 0 !important;
  }
  .pcsBtn {
    font-size: 14px !important;
    width: 100% !important;
  }
  .qtyDiv {
    /* flex-direction: column !important; */
    gap: 10px !important;
  }
  .reactBtnOuterDiv {
    width: 100%;
  }

  .priceOffDiv {
    gap: 10px !important;
  }
  .envCardBody {
    padding: 3px !important;
  }
  .wedCrestCard {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  /* Accordion */
  .accordion-button {
    font-size: 16px !important;
  }
  .card-title {
    margin-bottom: 3px !important;
    font-size: 16px !important;
  }
  .cartText {
    font-weight: 400;
  }
}
