.logo {
  width: 160px;
  margin-left: 10px;
}
#navbarNav {
  display: flex;
  justify-content: center;
}
.navbar-nav {
  align-items: center;
}
.nav-item {
  color: #222222;
  font-size: 1.5rem;
  text-decoration: none;
}
.nav-item:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
.navbar-collapse {
  justify-content: center !important;
}
.navbar-toggler {
  color: none !important;
  background-color: transparent;
  border: none !important;
}

.navbar-toggler-icon {
  background-image: url("../assets/logo/logo1.webp") !important;
  width: 157px !important;
  height: 68px;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}
@media only screen and (max-width: 992px) {
  .navbar-nav {
    gap: 10px !important;
  }
  .nav-item img {
    display: none;
  }
}

/* For Mobile */
@media only screen and (max-width: 480px) {
  .nav-item {
    font-size: 18px;
  }
  .slideshowDot {
    scale: 0.5;
    margin-top: 0px !important;
  }
  .cardTitle,
  .priceLable {
    font-size: 28px !important;
  }
  .cardTitle {
    margin-top: 10px !important;
  }
  .offerDiv,
  .wedInvoffer {
    font-size: 20px !important;
    text-align: center;
  }
  .priceTag {
    font-size: 22px !important;
    text-align: center !important;
  }
  .personTextHeader,
  .itiPrice {
    font-size: 22px !important;
  }

  .priceTag span,
  .itiPrice span {
    font-size: 16px !important;
    text-align: center !important;
  }
  .priceTagData {
    text-align: center !important;
  }
  .cartDiv {
    display: flex;
    flex-direction: column;
  }
  .cartBtn {
    width: 100%;
  }
  .cartContent {
    text-align: justify;
  }

  /* Money envlope*/
  .qtyTitle {
    font-size: 22px !important;
    font-weight: 600;
  }
  .pcsBtn {
    font-size: 18px !important;
    width: 100% !important;
  }
  .qtyDiv {
    flex-direction: column !important;
    gap: 10px;
  }
  .reactBtnOuterDiv {
    width: 100%;
  }

  .priceOffDiv {
    gap: 10px !important;
  }
}
