.logo {
  width: 160px;
  margin-left: 10px;
}
#navbarNav {
  display: flex;
  justify-content: center;
}
.navbar-nav {
  align-items: center;
}
.nav-item {
  color: #222222;
  font-size: 1.5rem;
  text-decoration: none;
}
.nav-item:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
.navbar-collapse {
  justify-content: center !important;
}
.navbar-toggler {
  color: none !important;
  background-color: transparent;
  border: none !important;
}

.navbar-toggler-icon {
  background-image: url("../assets/logo/logo1.webp") !important;
  width: 157px !important;
  height: 68px;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}
