.logo {
  width: 160px;
  margin-left: 10px;
}
#navbarNav {
  display: flex;
  justify-content: center;
}
.navbar-nav {
  align-items: center;
}
.nav-item {
  color: #222222;
  font-size: 1.5rem;
}
.nav-item:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
