.cart {
  border: 2px solid var(--primary-color);
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.cartText {
  background-color: var(--primary-color);
  border-top-right-radius: 250px 200px;
  border-top-left-radius: 250px 200px;
  color: white;
  font-weight: 600;
}

.emptyDiv {
  border-radius: 10px;
  background-color: white;
}
.cartDiv {
  display: flex;
  margin: 10px;
  justify-content: center;
  gap: 25px;
  align-items: center;
}

.cartBtn {
  background-color: #bb3655 !important;
  color: white;
  padding: 15px 15px;
}

.priceTag {
  color: var(--primary-color);
  font-family: serif !important;
  font-size: 25px;
  font-weight: 600;
}
.priceTag span {
  font-size: 20px;
  color: #4b4b4bbf !important;
  font-weight: 400 !important;
}
.priceTagData {
  font-size: 20px;
  color: #bb3655 !important;
  font-weight: 500;
}

.accCartBtn {
  color: var(--primary-color) !important;
  border: none !important;
  border-radius: 0px !important;
  border-bottom: 1px solid #d8d8d8 !important;
  margin-bottom: 10px;
  font-weight: 600 !important;
  background-color: #f8f9fa;
}

.accCartBtn:not(.collapsed) {
  color: var(--primary-color) !important;
  background-color: transparent !important;
  border: none !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  border-bottom: 2px solid var(--bg-primaryColor) !important;
}
.cartContent {
  border-bottom: 1px solid #d8d8d8 !important;
  font-size: 18px;
}

.emptyDiv {
  position: relative;
  border-radius: 15px;
}

.emptyDiv::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 6px;
  border-bottom: 1px solid #d8d8d8;
}

.emptyDiv img {
  display: block;
  max-width: 100%;
  height: auto;
}

.priceDetailDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cartOuterClass,
.cartItemClass {
  background-color: #f8f9fa !important;
}
