.react-input {
  position: relative;
  text-align: left;
  padding: 10px;
}
.form-control {
  font-size: 14px;
  padding: 8px;
}

.innerInput {
  position: relative;
  display: flex;
  align-items: center;
}
