.cardTitle {
  font-size: 50px;
  text-align: center;
  color: var(--primary-color);
  font-family: serif !important;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .cardTitle {
    font-size: 35px;
  }
}
