.wedInvoffer {
  font-size: 22px !important;
  color: #4b4b4bbf !important;
  font-weight: 400 !important;
}
.page3Images {
  border: 5px solid transparent;
}

.page3Images-active {
  border: 5px solid var(--primary-color);
}
@media screen and (max-width: 767px) {
  .dwIrrG {
    padding-left: 6px !important;
    grid-template-columns: repeat(2, 79%) !important;
  }
}
