.btn:hover {
  color: none;
  background-color: none;
  border-color: none;
}
.form-select:focus {
  border-color: none !important;
  outline: 0;
  box-shadow: none !important;
}

@import url("./style/reactInput.css");
@import url("./style/mainLayout.css");
@import url("./style/reactSlider.css");
@import url("./style/navBar.css");
@import url("./style/title.css");
@import url("./style/reactButtons.css");
@import url("./style/reactAccordion.css");
@import url("./style/moneyEnvlope.css");
@import url("./style/reactCart.css");
.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #d8d8d8 !important;
  outline: 0;
  box-shadow: none !important;
}
